.all {
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: space-between
}

.foot {
    font-size: 40px;
    width: 750px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
}