.footerConatiner {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    width: 100%;
    font-size: 20px;
}

.footer {
    width: 750px;
    color: black;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
}

.blue {
    color: #748ED2;
}

@media screen and (max-width: 340px) {
    .footer {
        width: 300px;
        font-size: 10px;
        flex-direction: column;
    }
}

@media screen and (min-width: 341px) and (max-width: 768px) {
    .footer {
        width: 340px;
        font-size: 15px;
        flex-direction: column;
    }
}