* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.formContainer {
    display: flex;
    justify-content: center;
}

.formList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    font-size: 40px;
    width: 750px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
}



.inp {
    width: 550px;
    font-size: 35px;
}

.formList button {
    cursor: pointer;
    font-size: 40px;
    width: 750px;
    color: #748ED2;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
}

.bounce-top {
    -webkit-animation: bounce-top 0.9s forwards;
    animation: bounce-top 0.9s forwards;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.response {
    display: flex;
    flex-direction: column;
}

.blue {
    color: #748ED2;
}

.formErr {
    font-size: 40px;
    width: 750px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.formUl {
    font-size: 30px;
    width: 750px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}