.formContainer {
    display: flex;
    justify-content: center;
}

.formList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    font-size: 40px;
    width: 750px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
}

.formTemp {
    font-size: 40px;
    width: 750px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.inp {
    width: 550px;
    font-size: 35px;
}

.shortInp {
    width: 80px;
    font-size: 35px;
    margin-right: 10px;
    margin-left: 10px;
}

.formList button {
    cursor: pointer;
    font-size: 40px;
    width: 750px;
    color: #748ED2;
    background-color: rgba(255, 255, 255, 0.8);
    transition: background-color .5s;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 10px 0;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.response {
    display: flex;
    flex-direction: column;
}

.blue {
    color: #748ED2;
}

.formErr {
    font-size: 40px;
    width: 750px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    ;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.formUl {
    font-size: 30px;
    width: 750px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

@media screen and (max-width: 340px) {

    .form,
    .formTemp,
    .formErr,
    .formList button,
    .formUl {
        font-size: 15px;
        width: 300px;
    }

    .inp {
        width: 200px;
        font-size: 15px;
    }

    .shortInp {
        width: 50px;
        font-size: 15px;
    }
}

@media screen and (min-width: 341px) and (max-width: 768px) {

    .form,
    .formTemp,
    .formErr,
    .formList button,
    .formUl {
        font-size: 18px;
        width: 340px;
    }

    .inp {
        width: 250px;
        font-size: 18px;
    }

    .shortInp {
        width: 50px;
        font-size: 18px;
    }
}