* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.headerConatiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    width: 1200px;
    font-size: 30px;
    display: flex;

}

#logo {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#logo span {
    color: #748ED2;
}