* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
}

.main {
    font-size: 30px;
    width: 750px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}


.main span {
    color: #748ED2;
}


#logo {
    font-size: 60px;
}